<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <Script src="script.js" defer></Script>
    <script>
        console.log("roomId <%= roomId %>")
    </script>
</head>
<body>
    <h1>Welcome to the app <%= roomId %></h1>
    <div id="video-grid"></div>
</body>
</html>